@{
    ViewData["Title"] = "Men";

    var cartItems = ViewBag.CartItems as List<MyCart>;
}

@model List<Category>

<div class="pl-4 pt-4 pr-4 pb-2 text-gray">
    <h2>Home / Men</h2>
</div>

@if (!Model.Any())
{
    <h2 id="" class="mb-4 category-label"> No Products for this Section!!  </h2>
}

@foreach (var category in @Model)
{
    @if (category.Products != null)
    {
        <!-- product design starts category -->

        <div class="container-fluid mt-4 p-4">
            <h2 class="mb-4 category-label" id="category_@category.Id"> Category: @category.Name  </h2>
            <div class="row align-items-start">

                @foreach (var product in category.Products)
                {
                    <!-- Product Card 1 -->
                    <div class="col-md-3 col-sm-6 col-6 px-1 mb-3">
                        <div class="product-card">
                            <a asp-area="Customer" asp-controller="Home" asp-action="ViewProduct" asp-route-id="@product.Id">
                                <img src="@product.ImageUrl" alt="Product Image" class="product-img">
                            </a>
                            <div class="product-info">
                                <h5>@(product.Name.Length > 21 ? product.Name.Substring(0, 18) + "..." : product.Name)</h5>
                                <p class="text-dark">Price: <strong>@product.Price rs.</strong></p>

                                <!-- Collapsible More Info -->
                                <button class="btn btn-toggle" data-bs-toggle="collapse" data-bs-target="#product_@product.Id" aria-expanded="false" aria-controls="product_@product.Id">
                                    More Info
                                </button>
                                <div id="product_@product.Id" class="collapse mt-2" data-bs-parent="#category-tshirts">
                                    <p><strong>Category:</strong> @category.Name</p>
                                    @if (@product.Quantity > 0)
                                    {
                                        <p><strong>Stock:</strong> @product.Quantity left</p>
                                        <p>Select Quantity: <input type="number" id="qty" min="1" max="3" value="1" /></p>

                                        var isInCart = cartItems != null && cartItems.Any(c => c.Products.Id == product.Id);
                                        if (isInCart)
                                        {
                                            <button class="btn btn-primary w-100" onclick="goToCart()">Go to Cart</button>
                                        }
                                        else
                                        {
                                            <button class="btn btn-primary w-100" id="add-cart-button-@product.Id" onclick="addToCart(@product.Id)">Add to Cart</button>
                                        }

                                        
                                    }
                                    else
                                    {
                                        <p><strong>Stock:</strong> Out of Stock</p>
                                    }

                                </div>
                            </div>

                        </div>

                    </div>
                }


            </div>
        </div>

        <!-- product design ends -->
    }

}

